<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"  >
<head>
    <title>
        List9
    </title>
    <link href="includes/bundles/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="includes/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container" ng-controller="MasterController">
        <div class="row">
            <div class="col-md-4">
               <div id="logo">
                    list9
                </div>
                
                <div id="timeFilters">
                    <a ng-click="clearfilters('All')">All</a>
                    <a ng-click="filterTasksByDate('Today')">Today</a>
                    <a ng-click="filterTasksByDate('Next 7 Days')">Next 7 Days</a>
                    <a ng-click="filterTasksByDate('This Month')">This Month</a>
                </div>
                <div id="groups">
                    <ul class="nav nav-tabs" id="groupTabs">
                        <li ng-class="(viewMode=='Projects')?'active':''"><a href="" ng-click="(viewMode='Projects')">Projects</a></li>
                        <!--<li ng-class="(viewMode=='Users')?'active':''"><a href="" ng-click="(viewMode='Users')">Users</a></li>-->
                        <li ng-class="(viewMode=='Categories')?'active':''"><a href="" ng-click="(viewMode='Categories')">Categories</a></li>
                    </ul>
                    <div id="projects" class="group" ng-controller="ProjectsController" ng-show="(viewMode=='Projects')">
                        <div class="group-items">
                            <div ng-repeat-start="p in projects" id="projectdelete{{p.Id}}" tabindex="9999" ng-click="projectClicked(p)" ng-blur="p.$deleting=false" ng-right-click="startDelete(p)" ng-dblclick="p.$editing=true" ng-hide="(p.$editing==true)">
                                {{p.Name}} <span class="badge" ng-hide="(p.Tasks.length==0)">{{p.Tasks.length}}</span>
                                <span ng-show="(p.$deleting==true)">
                                    <button id="projectdeletebtn{{p.Id}}" class="btn btn-sm btn-danger" ng-mousedown="deleteProject(p)">DELETE</button>
                                    <button class="btn btn-sm btn-danger" ng-mousedown="p.$deleting=false">Cancel</button>
                                </span>
                            </div>
                            <div ng-repeat-end ng-show="(p.$editing==true)">
                                <input type="text" ng-model="p.Name" ng-blur="p.$editing = false" ng-keypress="saveEdit(p,$event)" />

                            </div>
                        </div>
                        <a class="add" ng-click="editMode=true" ng-hide="(editMode==true)">+ Add New</a>
                        <div ng-show="(editMode==true)" class="add-group-item">
                            <input type="text" ng-model="selectedProject.Name" id="addNewProject" placeholder="Enter Project Name">
                            <br />
                            <button class="btn btn-sm" ng-click="save()">Save</button>
                            <button class="btn btn-sm" ng-click="editMode=false">Cancel</button>
                        </div>
                    </div>
                   <!-- <div id="users" class="group" ng-controller="List9UserController" ng-show="(viewMode=='Users')">
                        <div class="group-items">
                            <div ng-repeat-start="u in users" ng-click="userClicked(u)" id="userdelete{{u.Id}}" tabindex="9999" ng-right-click="startDelete(u)" ng-blur="u.$deleting=false" ng-dblclick="edituser=true" ng-hide="(edituser==true)">
                                {{u.Name}} <span class="badge" ng-hide="(u.Tasks.length==0)">{{u.Tasks.length}}</span>
                                <span ng-show="(u.$deleting==true)">
                                    <button class="btn btn-sm btn-danger" ng-blur="u.$deleting=false" ng-mousedown="deleteUser(u)">DELETE</button>
                                    <button class="btn btn-sm btn-danger" ng-mousedown="u.$deleting=false">Cancel</button>
                                </span>
                            </div>
                            <div ng-repeat-end ng-show="(edituser==true)">
                                <input type="text" ng-model="u.Name" ng-blur="editUser = false" ng-keypress="saveEdit(u,$event)" />

                            </div>
                        </div>

                        <a class="add" ng-click="editMode=true" ng-hide="(editMode==true)">+ Add New</a>

                        <div ng-show="(editMode==true)" class="add-group-item">
                            <input type="text" ng-model="selectedUser.Name" id="addNewProject">
                            <br />
                            <button class="btn btn-success" ng-click="save()">Save</button>
                            <button class="btn btn-danger" ng-click="editMode=false">Cancel</button>
                        </div>
                    </div>-->
                    <div id="categories" class="group" ng-controller="TaskCategoryController" ng-show="(viewMode=='Categories')">
                        <div class="group-items">
                            <div ng-repeat-start="c in taskcategories" id="categorydelete{{c.Id}}" tabindex="9999" ng-click="categoryClicked(c)" ng-right-click="c.$deleting=true" ng-dblclick="editcategory=true" ng-hide="(editcategory==true)" ng-blur="c.$deleting=false">
                                {{c.Name}} <span class="badge" ng-hide="(c.Tasks.length==0)">{{c.Tasks.length}}</span>
                                <span ng-show="(c.$deleting==true)">
                                    <button class="btn btn-sm btn-danger" ng-mousedown="deletecategory(c)">DELETE</button>
                                    <button class="btn btn-sm btn-danger" ng-mousedown="c.$deleting=false">Cancel</button>
                                </span>
                            </div>
                            <div ng-repeat-end ng-show="(editcategory==true)">
                                <input type="text" ng-model="c.Name" ng-blur="editcategory = false" ng-keypress="saveEdit(c,$event)" />

                            </div>
                        </div>
                        <a class="add" ng-click="editMode=true" ng-hide="(editMode==true)">+ Add New</a>

                        <div ng-show="(editMode==true)" class="add-group-item">
                            <input type="text" ng-model="selectedTaskCategory.Name" id="addNewProject">
                            <br />
                            <button class="btn btn-success" ng-click="save()">Save</button>
                            <button class="btn btn-danger" ng-click="editMode=false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="tasks-wrapper">
                    <span ng-model="currentuser.Name" class="pull-right">Welcome {{currentuser.Name}}  <a ng-click="logOut()">Log Out</a></span>
                    <div id="search">
                        <input ng-model="searchText" type="text" />                        
                    </div>
                    <div id="tasks" ng-controller="TaskController">
                        <div id="filterHeading">{{filterHeading}} <h3 class="glyphicon glyphicon-fire pull-right" id="adduserstoprojects" ng-click="addUserMode=true" ></h3></div>
                        <!--<div ng-repeat="p in projects" ng-hide="(p.Tasks.length==0)"> <h4>{{p.name}}</h4>-->
                        <div id="newUserPopOut" ng-show="(addUserMode==true)" >
                            <form>
                                <div class="form-group">
                                    <label >UserName:</label>
                                    <input type="text" class="form-control" ng-model="user.name" ng-keypress="addUserToProject(u,$event)"/>
                                </div>
                            </form>
                        </div>
                            <div class="task" ng-repeat="t in tasks| filter:searchText">
                                <div ng-dblclick="editTask=true" ng-right-click="(deleteMode=true)" ng-show="(editTask!=true)">
                                    <input id="checkbox{{t.Id}}" class="css-checkbox" type="checkbox" ng-checked="t.Done" />
                                    <label for="checkbox{{t.Id}}" name="checkboxLbl{{t.Id}}" class="css-label"></label>
                                    <span class="task-name" ng-right-click="(deleteMode==true)" ng-mouseleave="deleteMode=false">{{t.Name}} {{t.DateDue | date:'dd/MM'}}</span>
                                    <span ng-show="(deleteMode==true)">
                                        <button class="btn btn-sm btn-danger" ng-click="deleteTask(t)">DELETE</button>
                                        <button class="btn btn-sm btn-danger" ng-click="deleteMode=false">Cancel</button>
                                    </span>
                                </div>


                                <div ng-show="(editTask==true)">
                                    <input type="text" ng-model="t.Name" class="form-control" placeholder="{{t.Name}}" ng-blur="editTask = false" ng-keypress="saveEdit(t,$event)" />

                                </div>
                            </div>
                        <!--</div>-->
                        <a class="add" ng-click="editMode=true" ng-hide="(editMode==true)">+ Add New</a>
                        <div ng-show="(editMode==true)">
                            <form class="form">
                                <div class="form-group">
                                    <label>Task Name:</label>
                                    <input class="form-control" type="text" ng-model="selectedTask.Name">
                                </div>
                                <div class="form-group">
                                    <label>Task Description:</label>
                                    <input class="form-control" type="text" ng-model="selectedTask.Notes">
                                </div>
                                <div class="form-group">
                                    <label>Task Due Date:</label>
                                    <input class="form-control" type="date" ng-model="selectedTask.DateDue">
                                </div>

                                <div class="form-group">
                                    <label class="form-group"> Project:</label>
                                    <select class="form-control" name="Projects" ng-model="selectedTask.ProjectId" ng-options="p.Id as p.Name for p in projects"></select>
                                </div>
                                <div class="form-group">
                                    <label class="form-group"> Category:</label>
                                    <select class="form-control" ng-model="selectedTask.TaskCategoryId" ng-options="tc.Id as tc.Name for tc in taskcategories"></select>
                                </div>

                            </form>
                            <br />
                            <button class="btn btn-success" ng-click="save()">Save</button>
                            <button class="btn btn-danger" ng-click="editMode=false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="e9ine">
        <img src="includes/images/e9ine-logo.png" alt="e9ine" />
        www.e9ine.com
    </div>
    <script src="includes/bundles/jQuery/jquery-1.9.0.js"></script>
    <script src="includes/bundles/angular/angular-loader.js"></script>
    <script src="includes/bundles/angular/angular.js"></script>
    <script src="includes/bundles/angular/angular-resource.js"></script>
    <script src="includes/bundles/angular/angular-route.js"></script>

    <script src="/includes/bundles/moment/moment.min.js"></script>
    <script src="/includes/bundles/moment/moment.timezone.min.js"></script>
    <script src="/includes/bundles/moment/moment.timezone.data.js"></script>

    <script src="WebApp/app.js"></script>
    <script src="WebApp/core.js"></script>
    <script src="WebApp/MasterController.js"></script>
    <script src="WebApp/ProjectsController.js"></script>
    <script src="WebApp/TaskCategoryContoller.js"></script>
    <script src="WebApp/UserController.js"></script>
    <script src="WebApp/TaksController.js"></script>
    <script src="WebApp/List9UserController.js"></script>
    <script type="text/javascript">
    (function () {
        var baseUrl = 'http://list9.testpad.e9server.com';
        //var baseurl = 'http://localhost:56367/';
        var accessToken = window.sessionStorage.getItem('ACCESS_TOKEN') || window.localStorage.getItem('ACCESS_TOKEN');
        if (!accessToken)
            window.location = '/login.html';

        $.ajax({
            method: 'GET',
            url: baseUrl + '/api/Account/CurrentUser',
            crossDomain: true,
            headers: {
                'Authorization': 'Bearer ' + accessToken
            },
            success: function (user) {
                var module = angular.module('List9');
                module.constant('$user', user);
                
                angular.bootstrap(document, ['List9']);
            },
            failure: function () {
                window.location = '/login.html'
            }});
    })();


    </script>

</body>
    </html>
