<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app="List9">
<head>
    <title>
        List9
    </title>
    <link href="includes/bundles/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="includes/css/style.css" rel="stylesheet" />
</head>
<body>
    <div class="container" ng-controller="MasterController">
        <div class="row">
            <div class="col-md-4">
                <div id="logo">
                    list9
                </div>
                <div id="timeFilters">
                    <a>All</a>
                    <a>Today</a>
                    <a>Next 7 Days</a>
                    <a>This Month</a>
                </div>
                <div id="groups">
                    <ul class="nav nav-tabs" id="groupTabs">
                        <li ng-class="(viewMode=='Projects')?'active':''"><a href="" ng-click="(viewMode='Projects')">Projects</a></li>
                        <li ng-class="(viewMode=='Users')?'active':''"><a href="" ng-click="(viewMode='Users')">Users</a></li>
                        <li ng-class="(viewMode=='Categories')?'active':''"><a href="" ng-click="(viewMode='Categories')">Categories</a></li>
                    </ul>
                    <div id="projects" class="group" ng-controller="ProjectsController" ng-show="(viewMode=='Projects')">
                        <ul class="group-items">
                            <li ng-repeat="p in projects">{{p.Name}} <span class="badge" ng-hide="(p.Tasks.length==0)">{{p.Tasks.length}}</span></li>
                        </ul>
                        
                        <a class="add" ng-click="editMode=true" ng-hide="(editMode==true)">+ Add New</a>
                        
                        <div ng-show="(editMode==true)" class="add-group-item">
                            <input type="text" ng-model="selectedProject.Name" id="addNewProject" placeholder="Enter Project Name">
                            <br />
                            <button class="btn btn-sm" ng-click="save()">Save</button>
                            <button class="btn btn-sm" ng-click="editMode=false">Cancel</button>
                        </div>
                    </div>
                    <div id="users" class="group" ng-controller="UserController" ng-show="(viewMode=='Users')">
                        <ul class="group-items">
                            <li ng-repeat="u in users">{{u.Name}}<span class="badge" ng-hide="(u.Tasks.length==0)">{{u.Tasks.length}} </span></li>
                        </ul>
                        
                        <a class="add" ng-click="editMode=true" ng-hide="(editMode==true)">+ Add New</a>
                        
                        <div ng-show="(editMode==true)" class="add-group-item">
                            <input type="text" ng-model="selectedUser.Name" id="addNewProject">
                            <br />
                            <button class="btn btn-success" ng-click="save()">Save</button>
                            <button class="btn btn-danger" ng-click="editMode=false">Cancel</button>
                        </div>
                    </div>
                    <div id="categories" class="group" ng-controller="TaskCategoryController" ng-show="(viewMode=='Categories')">
                        <ul class="group-items">
                            <li ng-repeat="tc in taskcategories">{{tc.Name}}<span class="badge" ng-hide="(tc.Tasks.length==0)">{{tc.Tasks.length}} </span></li>
                        </ul>

                        <a class="add" ng-click="editMode=true" ng-hide="(editMode==true)">+ Add New</a>

                        <div ng-show="(editMode==true)" class="add-group-item">
                            <input type="text" ng-model="selectedTaskCategory.Name" id="addNewProject">
                            <br />
                            <button class="btn btn-success" ng-click="save()">Save</button>
                            <button class="btn btn-danger" ng-click="editMode=false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div id="tasks-wrapper">
                    <div id="search"></div>
                    <div id="tasks" ng-controller="TaskController">
                        <div class="task" ng-repeat="t in tasks | orderBy:t.DateDue:reverse">
                            <input id="checkbox{{t.Id}}" class="css-checkbox" type="checkbox" ng-checked="t.Done" />
                            <label for="checkbox{{t.Id}}" name="checkboxLbl{{t.Id}}" class="css-label"></label>
                            <span class="task-name">{{t.Name}}</span>
                        </div>
                        <a class="add" ng-click="editMode=true" ng-hide="(editMode==true)">+ Add New</a>
                        <div ng-show="(editMode==true)">
                            <form class="form">
                                <div class="form-group">
                                    <label>Task Name:</label>
                                    <input class="form-control" type="text" ng-model="selectedTask.Name">
                                </div>
                                <div class="form-group">
                                    <label>Task Description:</label>
                                    <input class="form-control" type="text" ng-model="selectedTask.Notes">
                                </div>
                                <div class="form-group">
                                    <label>Task Due Date:</label>
                                    <input class="form-control" type="date" ng-model="selectedTask.DateDue">
                                </div>

                                <div class="form-group">
                                    <label class="form-group"> Project:</label>
                                    <select class="form-control" name="Projects" ng-model="selectedTask.ProjectId"  ng-options="p.Id as p.Name for p in projects"></select>
                                </div>
                                <div class="form-group">
                                    <label class="form-group">User:</label>
                                    <select class="form-control" ng-model="selectedTask.UserId" ng-options="u.Id as u.Name for u in users"></select>
                                </div>
                                <div class="form-group">
                                    <label class="form-group"> Category:</label>
                                    <select class="form-control" ng-model="selectedTask.TaskCategoryId" ng-options="tc.Id as tc.Name for tc in taskcategories"></select>
                                </div>

                            </form>
                            <br />
                            <button class="btn btn-success" ng-click="save()">Save</button>
                            <button class="btn btn-danger" ng-click="editMode=false">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="e9ine">
            <img src="includes/images/e9ine-logo.png" alt="e9ine" />
            www.e9ine.com
        </div>
        <script src="includes/bundles/jQuery/jquery-1.9.0.js"></script>
        <script src="includes/bundles/angular/angular-loader.js"></script>
        <script src="includes/bundles/angular/angular.js"></script>
        <script src="includes/bundles/angular/angular-resource.js"></script>
        <script src="includes/bundles/angular/angular-route.js"></script>
        <script src="WebApp/app.js"></script>
        <script src="WebApp/core.js"></script>
        <script src="WebApp/MasterController.js"></script>
        <script src="WebApp/ProjectsController.js"></script>
        <script src="WebApp/TaskCategoryContoller.js"></script>
        <script src="WebApp/UserController.js"></script>
        <script src="WebApp/TaksController.js"></script>
    </body>
    </html>
